<div class="sheet-container">
    <img class="background" src="{{backgroundImages.url}}" title="{{localize backgroundImages.title}}"
         alt="{{localize 'tor2e.weapons.details.tech.alt'}}"/>
    <form class="{{cssClass}} flexrow" autocomplete="off">

        {{> "systems/tor2e/templates/sheets/items/components/item-header-card.hbs"
                item=this.item
                label="tor2e.items.skills.title"
                alt="tor2e.items.skills.tech.alt"}}

        <div class="sheet-content flexcol">
            <div class="item-row flexrow">
                <div class="item-element">
                    <label for="system.group.value-{{item.id}}" class="attribute-label">{{localize system.group.label}}</label>
                    <select id="system.group.value-{{item.id}}" name="system.group.value">
                        {{#select system.group.value}}
                            {{#each config.traitGroups as |name type|}}
                                <option value="{{type}}">{{localize name}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                </div>
            </div>
            <div class="description flexcol">
                <h2>{{localize system.description.label}}</h2>
                {{editor description target="system.description.value" button=true editable=true}}
            </div>
        </div>
    </form>
</div>
