@import "./variables.less";

.popup {
  .content {
    justify-content: space-evenly;

    div {
      flex: none
    }

    h2{
      flex: none
    }

    .hope{
    justify-content: space-evenly;

    .actor-stats {
      span.label {
        margin-right: 0.5em;
        font-weight: bold;
        font-size: 1.2em;
        flex: none;
        color: #AC323BFF;
      }

      span.value {
        margin-right: 0.5em;
        font-weight: bold;
        font-size: 1.2em;
        flex: none;
        color: black;
      }
    }
    }
  }
}
